/* vim:ft=css */
configuration {
  modi: "window,drun,ssh,combi";
  font: "Cascadia Code 16";
  terminal: "alacritty";
  separator-style: "solid";
  theme: "~/.config/rofi/gruvbox.rasi";
  combi-modi: "window,drun,ssh";
}
