[user]
	name = sinarf
	email = sinarf@sinarf.org
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool]
	prompt = false
[push]
	default = simple
[core]
	excludesfile = ~/Sync/config/git/gitignore
	editor = nvim
;[url "https://"]
	;insteadOf = git://
[alias]
	lg = log --word-diff  -p
	l = log --oneline --abbrev-commit --all --graph --decorate --color
[svn]
	rmdir = true
[credential]
	helper = store
[github]
	user = sinarf
[pull]
	rebase = true
