[Desktop Entry]
Name=Age of Empires IV
Comment=Play this game on Steam
Exec=steam steam://rungameid/1466860
Icon=steam_icon_1466860
Terminal=false
Type=Application
Categories=Game;
