[Desktop Entry]
Name=Command and Conquer: Red Alert 3
Comment=Play this game on Steam
Exec=steam steam://rungameid/17480
Icon=steam_icon_17480
Terminal=false
Type=Application
Categories=Game;
