[Desktop Entry]
Name=daily note script
Comment=Journal your life
TryExec=nvim
Exec=.dotfiles/bin/dailynotes.sh
Terminal=true
Type=Application
Categories=notes;productivity
StartupNotify=false

