[Desktop Entry]
Name=Dune: Spice Wars
Comment=Play this game on Steam
Exec=steam steam://rungameid/1605220
Icon=steam_icon_1605220
Terminal=false
Type=Application
Categories=Game;
