[Desktop Entry]
Name=Total War: WARHAMMER II
Comment=Play this game on Steam
Exec=steam steam://rungameid/594570
Icon=steam_icon_594570
Terminal=false
Type=Application
Categories=Game;
