[Desktop Entry]
Name=Total War: ROME II - Emperor Edition
Comment=Play this game on Steam
Exec=steam steam://rungameid/214950
Icon=steam_icon_214950
Terminal=false
Type=Application
Categories=Game;
