[Desktop Entry]
Name=WIP note
Comment=Random WIP texts
TryExec=nvim
Exec=wip_note.sh
Terminal=true
Type=Application
Categories=notes;productivity
StartupNotify=false

