[user]
	name = sinarf
	email = sinarf@sinarf.org
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[difftool]
	prompt = false
[push]
	default = simple
[core]
	excludesfile = ~/Sync/config/git/gitignore
	editor = nvim
[url "https://"]
	insteadOf = git://
[alias]
	lg = log --word-diff  -p
	l = log --oneline --color -25
[svn]
	rmdir = true
[credential]
	helper = store
[github]
	user = sinarf
[pull]
	rebase = true
[init]
	defaultBranch = production

[color]
	diff = always
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	; pager = true
	grep = auto
	decorate = auto
	showbranch = auto
[color "diff"]
	meta = blue
	old = red strike
	new = green italic
	context = yellow bold
[color "branch"]
	local = green
	current = brightwhite yellow
	remote = normal blue
	upstream = brightwhite cyan
