#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitch
Exec=/usr/lib/brave-bin/brave --profile-directory=Default --app-id=comkdlimbkhemidbbpchhepidbmjpnhh
Icon=brave-comkdlimbkhemidbbpchhepidbmjpnhh-Default
StartupWMClass=crx_comkdlimbkhemidbbpchhepidbmjpnhh
